{% extends "base.html" %}

{% block content %}
<h1>Assignment</h1>
{% if current_user.is_authenticated and current_user.role == 'professor' %}
<div class="mb-3">
    <a class="btn btn-primary" href="{{ url_for('new_assignment') }}">
        <i class="bi bi-plus-circle"></i> New Assignment
    </a>
</div>
{% endif %}
<form method="get" action="{{ url_for('assignments') }}" class="mb-3">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search assignments..." value="{{ request.args.get('search', '') }}">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<div class="col-lg-3">
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Deadline</th>
            <th>Professor</th>
        </tr>
    </thead>
    {% for assignment in assignments %}
        <tr>
            <td class="text-start text-nowrap">
                <a href="{{ url_for('assignment', assignment_id=assignment.id) }}">{{ assignment.title }}</a>
            </td>
            <td class="text-center text-nowrap">
                {{ assignment.deadline.strftime('%d/%m/%Y %H:%M') }}
            </td>
            <td class="text-end text-nowrap">
                {{ assignment.professor.username }}
            </td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
